/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* 1. Блок Header  */
/* 2. Блок Main    */
/* 3. Блок Footer  */
/* 4. Медиазапросы */

.page {
  padding-block-start: 100px;
  color: var(--accent-color, #000);
  font-family: var(--font-Int), serif;
  font-size: var(--font-size);
  background-color: var(--bg-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--font-weight-title), var(--font-weight-text);
}

/* ########################################## /*
/* 1. Блок Header Начало */
/* ########################################## */

.header {  
  display: flex;
  flex-direction: column;
  border: 2px solid var(--contour-color);
  padding-inline: 14px;
  font-family: var(--font-PS2P);
  background-color: #fff;
  color: var(--accent-color);
}

.header__title {
  padding-block-start: 120px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);  
  text-align: center;
}

.header__paragraph {
  padding-block-start: 20px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;  
  gap: 14px;
}

.header__theme-menu {
  padding-block: 25px;  
}

.theme-menu__button {
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;

}

/* ########################################## */
/* Блок Header Конец */
/* ########################################## */