/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* 1. Блок Header  */
/* 2. Блок Main    */
/* 3. Блок Footer  */
/* 4. Медиазапросы */

.page {  
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-block-start: 100px;
  color: var(--accent-color, #000);
  font-family: var(--font-Int), sans-serif, Arial, Helvetica;
  font-size: var(--font-size-18px);
  background-color: var(--bg-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  -webkit-padding-before: 100px;
  inline-size: var(--width-size);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--font-weight-title), var(--font-weight-text);
  
}

/* ########################################## /*
/* 1. Блок Header Начало */
/* ########################################## */

.decorative__frame {  
  border: 2px solid var(--contour-color);
  background-color: var(--bg-color);  
}

.header {  
  display: flex;
  flex-direction: column; 
  padding-block-start: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem);
  padding-block-end: 20px;    
  color: var(--accent-color);
  font-family: var(--font-PS2P), sans-serif, Arial, Helvetica; 
  text-align: center; 
  -webkit-padding-before: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem);     
}

.header__title {  
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);  
  text-align: center;
  text-decoration: none;
}

.header__title:focus {
  outline: none;
}

.header__subtitle {
  padding-block-start: 20px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);  
  text-transform: uppercase;
  -webkit-padding-before: 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-block-start: 24px;
  font-size: 14px;
  text-align: left;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
}

.theme-menu__button {
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 1s;
}

.theme-menu__button::before {
  content: '';
  padding: 0;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
} 

.theme-menu__button:disabled::before {
  content: '▶'; 
  position: absolute;
  top: 2px;
  left: 5px;
  -webkit-animation: cursor 0.5s infinite ease-in-out alternate;
  animation: cursor 0.5s infinite ease-in-out alternate;  /* Повтор "Бесконеный",  "медленно начинается и заканчивается, а в середине ускоряется", Четный/Нечётный повтор анимации */
  -webkit-animation-name: cursor;
  animation-name: cursor; /* Имя анимациии */
} 

.theme-menu__item {
  position: relative;
  padding-inline-start: 21px;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 2px;
  background-color: var(--accent-color);
  transition: width 300ms, background-color 1s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  background-color: var(--accent-color);
}

/* ########################################## */
/* Блок Header Конец */
/* ########################################## */

/* ########################################## /*
/* 2. Блок Main Начало */
/* ########################################## */

.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto; /* Выравнивание по центру */  
  padding-block-start: 50px;  
  -webkit-padding-before: 50px;  
}

.section {
  margin-block-start: 50px;
  -webkit-margin-before: 50px;
  display: block;
  margin-inline: auto;  
}

/* .card {
  display: flex;
  flex-direction: column;
  gap: 50px;
} */

.card__title {  
  padding: 4px 10px 6px;
  font-size: var(--font-size-18px);
  line-height: 21.78px;
  font-variation-settings: 'wght' var(--font-weight-title);
}

.card__container { 
  display: flex;
  flex-direction: column;  
}

.img__container {
  position: relative;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  block-size: 371px;
}

.card__picture-image {     
  -o-object-fit: cover;   
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;      
}

.label {  
  position: absolute;
  top: 22px;
  opacity: 50%;
  color: var(--accent-color);
  font-family: var(--font-PS2P), sans-serif, Arial, Helvetica; 
  font-size: 14px;
  line-height: 14px;
  text-shadow:-1px 0 var(--label), 0 1px var(--label), 1px 0 var(--label), 0 -1px var(--label);  
  inset-inline-end: min(13px);  
  font-variation-settings: 'wght' var(--font-weight-text);
  mix-blend-mode: hard-light;   
}

@supports((text-stroke: 1px var(--label)) or (-webkit-text-stroke: 1px var(--label))) {
  .watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label);
    text-stroke: 1px var(--label);
  }
}

.card__text {
  border-top: 2px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  gap: 27px;  
  padding: 25px 25px 0 25px; 
  font-size: var(--font-size-18px);
  line-height: 21px; 
  font-variation-settings: 'wght' var(--font-weight-text);     
}

.button_like {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  padding: 25px 25px 25px 0; 
}

.card__like-button {
  width: 130px;
  height: 38px;  
}

.button {
  position: relative;
  border: 2px solid var(--accent-color);
  outline: none;
  overflow: hidden;
  background-color: var(--bg-color);
  transition-duration: 0.3s;  /* Переход для тени в плавное состояние */
  transition-property: box-shadow; /* Переход для тени в плавное состояние */
  transition-timing-function: ease; /* Переход для тени в плавное состояние */
  cursor: pointer;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);  
}

.button::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.button:hover::after {
  transform: translateX(0);
  cursor: pointer;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--bt-color);
  font-size: 14px;
  cursor: pointer;
  mix-blend-mode: difference; /* При смешивании 2 цветов, вкл. автозамена */
}

.card__icon-button {
  height: 38px;
  border: 2px solid;
  padding: 0;
  color: transparent;
  background-color: transparent;
  transition: color 0.3s ease; 
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
}

/* ########################################## */
/* Блок Main Конец */
/* ########################################## */

/* ########################################## */
/* 3. Блок Footer Начало */
/* ########################################## */

.save__button {  
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 8px;
  margin: clamp(3.125rem, 3.125rem + 0vw, 3.125rem) clamp(2.156rem, -1.068rem + 13.757vw, 11.313rem) clamp(6.25rem, 6.184rem + 0.282vw, 6.438rem) clamp(2.156rem, -1.046rem + 13.662vw, 11.25rem);
  border: 2px solid var(--contour-color);
  color: var(--accent-color);
  background-color: var(--bg-color);
  cursor: pointer;
  inline-size: clamp(19.25rem, 18.656rem + 2.536vw, 20.938rem);
  block-size: min(84px);     
}

.button__text {   
  font-family: var(--font-PS2P), sans-serif, Arial, Helvetica;
  font-size: var(--font-size-14px);
}

.save__floppy {
  position: relative;
  z-index: 1;
  color: var(--bt-color);
  mix-blend-mode: difference; /* При смешивании 2 цветов, вкл. автозамена */  
}

/* #### Модельное окно #### */

.dialog-window[open] {
  display: flex;  
  align-items: center;
  min-height: 191px;   
  border: 2px solid var(--contour-color);
  color: var(--accent-color);
  font-family: var(--font-PS2P), sans-serif, Arial, Helvetica;
  font-size: var(--font-size-14px);
  background-color: var(--bg-color);
  inline-size: clamp(21.313rem, 21.049rem + 1.127vw, 22.063rem); 
}

.dialog-window::-webkit-backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-window::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.dialog-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border: none;
  padding-inline-start: 25px;
  -webkit-padding-start: 25px;
}

.dialog-floppy {  
  flex-shrink: 0;
  max-width: 39px;
  max-height: 39px;
  color: var(--accent-color);
  inline-size: 100%;
  block-size: 100%; 
}

.dialog__text {
  font-family: var(--font-PS2P), sans-serif, Arial, Helvetica;
  font-size: var(--font-size-14px);
  line-height: 21px;
  text-transform: uppercase;
}

.window-close {
  z-index: 0;  
  border: 2px solid var(--contour-color);
  padding-inline: 42px;
  text-transform: uppercase;  
  cursor: pointer;
  block-size: 38px;
  inline-size: clamp(16.063rem, 15.271rem + 3.38vw, 18.313rem);
}

.accept__button {
  position: relative;
  z-index: 1;
  color: var(--bt-color);
  mix-blend-mode: difference; /* При смешивании 2 цветов, вкл. автозамена */
}

/* ########################################## */
/* Блок Footer Конец */
/* ########################################## */

/* ########################################## */
/* 4. Медиазапросы */
/* ########################################## */

@media (width >= 1440px) {

 .section {
  block-size: 700px;  
 }

 .watermark {  
  inset-inline-end: 25px;
 }

 .save__button {
  flex-direction: row;
  inline-size: clamp(19.25rem, 18.546rem + 3.005vw, 21.25rem);
  block-size: max(55px);
 }

 .save__floppy {
  max-width: 21px;
  max-height: 21px;  
  inline-size: 100%;
  block-size: 100%;  
 }
}

